@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a new Machine</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)

    @Html.LabelFor(model => model.InstallDate)
    @Html.TextBoxFor(model => model.InstallDate, new { @type = "date"})

    <input type="submit" value="Add new Machine" class="btn btn-default" />
}

<br>

<p>@Html.ActionLink("Home", "Index", "Home")</p>