@{
  Layout = "_Layout";
}

@model Factory.Models.Machine  //this is where we get the 'model' which represents Machine class/constructor.

<h2>Add a new Machine</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.MachineName)
    @Html.TextBoxFor(model => model.MachineName)

    @Html.LabelFor(model => model.InstallDate)
    @Html.TextBoxFor(model => model.InstallDate, new { @type = "date"})


//this is where we use the viewbag.
    @* @Html.Label("Select an Engineer")
    @Html.DropDownList("EngineerId")  *@

    <input type="submit" value="Add new Machine" class="btn btn-default" />
}
<br>
@* <p>@Html.ActionLink("Show all machines", "Index")</p> *@
<p>@Html.ActionLink("Home", "Index", "Home")</p>