@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)</h3>
<h3>@Html.DisplayNameFor(model => model.InstallDate): @Model.InstallDate.ToString("MM-dd-yyyy")</h3> 

<br>

@if(Model.JoinEntries.Count == 0)
{
  <h4>This machine does not have any certified engineers.</h4>
}
else
{
  <h4>Engineers certified for this machine:</h4>
}

<ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Engineer.EngineerName</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      @Html.HiddenFor(model => model.MachineId)
    }
  }
</ul>

<br>

@Html.ActionLink("Edit Machine", "Edit", "Machines", new {id = Model.MachineId}, new { @class = "btn" })

<br>
<br>

<p>@Html.ActionLink("Home", "Index", "Home")</p>


