@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3>
<h3>@Html.DisplayNameFor(model => model.StartDate): @Model.StartDate.ToString("MM-dd-yyyy")</h3> 

<br>

@if(Model.JoinEntries.Count == 0)
{
  <h4>This engineer is not certified for any machines.</h4>
}
else
{
  <h4>Machines that this engineer is certified for:</h4>
}

<ul>
  @foreach(var join in Model.JoinEntries)
  {
    
    <li>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new { id = join.Machine.MachineId })</li>

    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      @Html.HiddenFor(model => model.EngineerId)
    }
  }
</ul>

<br>

@Html.ActionLink("Edit Engineer", "Edit", "Engineers", new {id = Model.EngineerId}, new { @class = "btn" })

<br>
<br>

<p>@Html.ActionLink("Home", "Index", "Home")</p>