@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.EngineerName): @Html.DisplayFor(model => model.EngineerName)</h3> @Html.ActionLink("Edit Info", "EditInfo", "Engineers", new {id = Model.EngineerId}, new { @class = "btn" })
<h3>@Html.DisplayNameFor(model => model.StartDate): @Model.StartDate.ToString("MM-dd-yyyy")</h3> @Html.ActionLink("Edit Date", "EditDate", "Engineers", new {id = Model.EngineerId}, new { @class = "btn" })

@if(@Model.JoinEntries.Count == 0)
{
  <p>This engineer is not certified on any machine.</p>
}
else
{
  <h4>Machines that this engineer is certified for:</h4>
}

<ul>
  @foreach(var join in Model.JoinEntries)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      @Html.HiddenFor(model => model.EngineerId)
      <input type="submit" value="Delete"/>
    }
  }
</ul>

@using (Html.BeginForm("AddMachine", "Engineers"))
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("Add a Machine")
  @Html.DropDownList("MachineId", "*select*")

  <input type="submit" value="Add"/>

  @* <input type="submit" value="Add" formaction=@Url.Action("AddMachine") formmethod="post"/> *@
}


<p>@Html.ActionLink("Back to Engineer List", "Index")</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>