@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Edit Info</h4>

<h4>@Html.DisplayFor(model => model.EngineerName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.HiddenFor(model => model.StartDate)

    @Html.LabelFor(model => model.EngineerName)
    @Html.EditorFor(model => model.EngineerName)

    <input type="submit" value="Edit" />
}

<p>@Html.ActionLink("Back to Details", "Details", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>