@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit Start Date</h2>

<h4>@Html.DisplayFor(model => model.StartDate)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)
    @Html.HiddenFor(model => model.EngineerName)

    @Html.LabelFor(model => model.StartDate)
    @* @Html.EditorFor(model => model.StartDate) *@
    @Html.TextBoxFor(model => model.StartDate, "{0:yyyy-MM-dd}", new { @type = "date" })
    @* @Html.TextBoxFor(model => model.StartDate, new { @class = "jquery_datepicker", @Value = Model.StartDate.ToString("yyyy.MM.dd")}) *@

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Details", "Details", new {id = Model.EngineerId})</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>